<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <app-top></app-top>
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Subheader-->
                <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
                    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <!--begin::Page Title-->
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Rendimiento</h5>
                            <!--end::Page Title-->
                            <!--begin::Actions-->
                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                            <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
                            <a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a>
                            <!--end::Actions-->
                        </div>
                        <!--end::Info-->
                        
                    </div>
                </div>
                <!--end::Subheader-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <!--begin::Notice-->
                       
                        <!--end::Notice-->
                        <!--begin::Card-->
                        <div class="row">
                            
                                        
                           <div class="col-lg-6">
                                <!--begin::Card-->
                                <div class="card card-custom card-stretch gutter-b">
                                    <div class="card-header">
                                        <div class="card-title">
                                            <h3 class="card-label">Listado de Productos Vendidos</h3>
                                        </div>
                                    </div>
                                    <div class="card-body" id="content_chart_1">
                                        <!--begin::Chart-->
                                        <table class="table table-separate table-head-custom table-foot-custom table-checkable" id="kt_datatable">
                                            <thead>
                                                <tr>
                                                    <th>Cantidad</th>
                                                    <th>Descripción</th>
                                                    <th>Precio</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <ng-container *ngIf="load_detalles">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center" colspan="7">
                                                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                                <span class="sr-only">Cargando...</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </ng-container>
                                            <ng-container *ngIf="!load_detalles">
                                                <tbody *ngIf="ventas_detalle.length >= 1">
                                                    <tr *ngFor="let item of ventas_detalle">
                                                        <td>{{item.cantidad}}</td>
                                                        <td>{{item.titulo}} {{item.titulo_v}}</td>
                                                        <td>{{item.precio|currency:'Q'}}</td>
                                                        <td>{{item.precio*item.cantidad|currency:'Q'}}</td>                                                        
                                                    </tr>                                       
                                                </tbody>
                                                <tbody *ngIf="ventas_detalle.length == 0">
                                                    <tr>
                                                        <td class="text-center" colspan="4">
                                                            <p class="text-muted">No hay ningun registro que mostrar !!!</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </ng-container>
                                            <tfoot>
                                                <tr>
                                                    <th>Cantidad</th>
                                                    <th>Descripción</th>
                                                    <th>Precio</th>
                                                    <th>{{total_ventas|currency:'Q'}}</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <!--end::Chart-->
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>  
                            <div class="col-lg-6">
                                <!--begin::Card-->
                                <div class="card card-custom card-stretch gutter-b">
                                    <div class="card-header">
                                        <div class="card-title">
                                            <h3 class="card-label">Listado de Productos Comprados</h3>
                                        </div>
                                    </div>
                                    <div class="card-body" id="content_chart_1">
                                        <!--begin::Chart-->
                                        <table class="table table-separate table-head-custom table-foot-custom table-checkable" id="kt_datatable">
                                            <thead>
                                                <tr>
                                                    <th>Cantidad</th>
                                                    <th>Descripción</th>
                                                    <th>Precio</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <ng-container *ngIf="load_compras">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center" colspan="7">
                                                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                                <span class="sr-only">Cargando...</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </ng-container>
                                            <ng-container *ngIf="!load_compras">
                                                <tbody *ngIf="compras_detalle.length >= 1">
                                                    <tr *ngFor="let item of compras_detalle">
                                                        <td>{{item.cantidad}}</td>
                                                        <td>{{item.titulo}} {{item.titulo_v}}</td>
                                                        <td>{{item.precio|currency:'Q'}}</td>
                                                        <td>{{item.precio*item.cantidad|currency:'Q'}}</td>                                                        
                                                    </tr>                                       
                                                </tbody>
                                                <tbody *ngIf="compras_detalle.length == 0">
                                                    <tr>
                                                        <td class="text-center" colspan="4">
                                                            <p class="text-muted">No hay ningun registro que mostrar !!!</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </ng-container>
                                            <tfoot>
                                                <tr>
                                                    <th>Cantidad</th>
                                                    <th>Descripción</th>
                                                    <th>Precio</th>
                                                    <th>{{total_compras|currency:'Q'}}</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <!--end::Chart-->
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>  
                            
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->
        </div>
    </div>
</div>
