<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <app-top></app-top>
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Subheader-->
                <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
                    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <!--begin::Page Title-->
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Compras</h5>
                            <!--end::Page Title-->
                            <!--begin::Actions-->
                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                            <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
                            <a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a>
                            <!--end::Actions-->
                        </div>
                        <!--end::Info-->
                        
                    </div>
                </div>
                <!--end::Subheader-->
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <div class="row">
                            <div class="col-11">
                                <div class="card card-custom card-stretch gutter-b">
                                    <div class="card-header border-0 pt-5">
                                        <h3 class="card-title">
                                            <span class="font-weight-bolder text-dark">Nueva Compra</span>
                                        </h3>
                                 
                                    </div>
                                    <div class="card-body">
                                        <div class="row form-group" style="margin-bottom: 10px;">
                                            <label class="col-lg-2 col-form-label text-lg-end">
                                                <b>Proveedor:</b>
                                            </label>
                                            <div class="col-lg-9 col-xl-5">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid" id="inp_proveedor" readonly placeholder="Seleccionar proveedor">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="button" data-toggle="modal" [attr.data-target]="'#modalProveedor'">Buscar</button>
                                                    </div>
                                                </div>                                               

                                                <div class="modal fade" id="modalProveedor" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Seleccionar proveedor</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <i aria-hidden="true" class="ki ki-close"></i>
                                                                </button>
                                                            </div>
                                                            <div class="modal-header" style="padding-right: 0px !important;">
                                                                <div class="row" style="width: 100%;">
                                                                    <div class="col-12">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" placeholder="Buscar proveedor" name="filtro_proveedor" [(ngModel)]="filtro_proveedor">
                                                                            <div class="input-group-append">
                                                                                <button class="btn btn-primary" type="button" (click)="init_proveedor()">
                                                                                    <i class="flaticon-search"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-body" style="max-height: 550px;
                                                            overflow: auto;min-height: 550px;">

                                                                <ng-container  *ngIf="load_proveedores">
                                                                    <div class="row">
                                                                        <div class="col-12 text-center">
                                                                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                                                <span class="sr-only">Cargando...</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </ng-container>
                                                                <ng-container *ngIf="!load_proveedores">
                                                                    <ng-container *ngIf="proveedor.length == 0">
                                                                        <h4 class="card-label">
                                                                            <i class="flaticon-search"></i> 
                                                                            Busqueda de proveedor
                                                                        </h4>
                                                                        <p>Ingrese 
                                                                            <code> un parametro de busqueda</code> para poder mostrar los proveedores.
                                                                        </p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="proveedor.length >= 1">
                                                                        <div class="d-flex align-items-center mb-10" *ngFor="let item of proveedor">
                                                                    
                                                                            <div class="symbol symbol-40 flex-shrink-0 mr-3" [ngClass]="{
                                                                                'symbol-success': item.nombrecomercial.charAt(0) >='A' && item.nombrecomercial.charAt(0) <= 'H',
                                                                                'symbol-info': item.nombrecomercial.charAt(0) >='I' && item.nombrecomercial.charAt(0) <= 'O',
                                                                                'symbol-warning': item.nombrecomercial.charAt(0) >='P' && item.nombrecomercial.charAt(0) <= 'U',
                                                                                'symbol-primary': item.nombrecomercial.charAt(0) >='V' && item.nombrecomercial.charAt(0) <= 'Z'}">
                                                                                <div class="symbol-label">{{item.nombrecomercial.charAt(0)}}</div>								
                                                                            </div>
                                                                        
                                                                            <div class="d-flex flex-column flex-grow-1 font-weight-bold">
                                                                                <a class="text-dark text-hover-primary mb-1 font-size-lg">
                                                                                    {{item.razonsocial}}
    
                                                                                    <span class="badge badge-primary ml-3" *ngIf="item.tipo == 'Socio'">S</span>
                                                                                    <span class="badge badge-warning ml-3" *ngIf="item.tipo == 'Prospecto'">P</span>
                                                                                </a>
                                                                                <span class="text-muted">{{item.email}}</span>
                                                                            </div>
                                                                    
                                                                            <button *ngIf="item.estado" class="btn btn-success btn-sm" (click)="seleccionar_proveedor(item)">
                                                                                Seleccionar
                                                                            </button>
                                                                            <button *ngIf="!item.estado" disabled class="btn btn-danger btn-sm">Seleccionar</button>
                                                                        </div>
                                                                    </ng-container>
                                                                    
                                                                </ng-container>
                                                                
                                                            
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <label class="col-lg-1 col-form-label text-lg-start">
                                                <b>NIT:</b>
                                            </label>
                                            <div class="col-lg-9 col-xl-4">
                                                <input type="text" class="form-control form-control-solid" id="inp_nit" readonly placeholder="NIT">
                                            </div>
                                        </div>                                                                             

                                        <div class="row form-group" style="margin-bottom: 10px;">     
                                                                                
                                            <label class="col-lg-2 col-form-label text-lg-end">
                                                <b>Factura:</b>
                                            </label>
                                            <div class="col-lg-9 col-xl-4">
                                                <input type="text" class="form-control form-control-solid" placeholder="Número de Factura"  name="factura" [(ngModel)]="compra.factura">
                                            </div>   
                                            <label class="col-lg-2 col-form-label text-lg-start">
                                                <b>Fecha Factura:</b>
                                            </label>
                                            <div class="col-lg-9 col-xl-4">
                                                <input type="date" class="form-control form-control-solid" name="fechafactura" [(ngModel)]="compra.fechafactura">
                                            </div>                                            
                                        </div>                                          

                                        <div class="row form-group" style="margin-bottom: 10px;">
                                            <label class="col-lg-2 col-form-label text-lg-end">
                                                <b>Obs:</b>
                                            </label>
                                            <div class="col-lg-9 col-xl-4">
                                                <input type="text" class="form-control form-control-solid" placeholder="Observaciones máximo 200 caracteres"  name="observaciones" [(ngModel)]="compra.observaciones">
                                            </div>  
                                            
                                            <label class="col-lg-2 col-form-label text-lg-start">
                                                <b>Venta:</b>
                                            </label>
                                            <div class="col-lg-9 col-xl-4">
                                                <select class="form-control selectpicker" data-live-search="true" name="venta" [(ngModel)]="compra.venta">
                                                    <option value="" selected disabled>Seleccionar</option>
                                                    <option value="{{item._id}}" *ngFor="let item of ventas">{{item.correlativo|fzill:7}} {{item.cliente.nombrecomercial}} {{item.monto|currency:'Q'}} </option>
                                                    <option value="Inventario">Inventario</option>
                                                </select>
                                            </div>  
                                        </div> 

                                        <div class="row">
                                            <label class="col-lg-2 col-form-label text-lg-end">
                                                <b>Documento:</b>
                                            </label>
                                            <div class="col-lg-9 col-xl-4">
                                                <select class="custom-select form-control form-control-solid" name="documento" [(ngModel)]="compra.documento">
                                                    <option value="" selected disabled>Seleccionar</option>
                                                    <option value="Factura">Factura</option>
                                                    <option value="Factura Cambiaria">Factura Cambiaria</option>
                                                    <option value="Factura Especial">Factura Especial</option>
                                                    <option value="Recibo">Recibo</option>                                                    
                                                    <option value="Nota de Abono">Nota de Abono</option>
                                                </select>
                                            </div>
                                            <label class="col-lg-2 col-form-label text-lg-start">
                                                <b>Tipo:</b>
                                            </label>
                                            <div class="col-lg-9 col-xl-4">
                                                <select class="custom-select form-control form-control-solid" name="tipo" [(ngModel)]="compra.tipo">
                                                    <option value="" selected disabled>Seleccionar</option>
                                                    <option value="Credito">Credito</option>
                                                    <option value="Contado">Contado</option>
                                                    <option value="Otro">Otro</option>
                                                </select>
                                            </div>                                            
                                        </div>                                        
                                    </div>
                                    <div class="card-header border-0">
                                        <h3 class="card-title">
                                            <span class="font-weight-bolder text-dark">Resumen</span>
                                        </h3>
                                 
                                    </div>
                                    <div class="card-body">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="float-left">
                                                    <button id="add_row" class="btn btn-primary btn-block" data-toggle="modal" [attr.data-target]="'#modalProducto'">                
                                                    <i class="flaticon2-add"></i>
                                                    Agregar detalle
                                                    </button>
                                                </div>    
                                                <div class="modal fade" id="modalProducto" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Seleccionar Producto de Compra</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <i aria-hidden="true" class="ki ki-close"></i>
                                                                </button>
                                                            </div>
                                                            <div class="modal-header" style="padding-right: 0px !important;">
                                                                <div class="row" style="width: 100%;">
                                                                    <div class="col-12 form-group">
                                                                        <h3 class="card-title" style="font-size: 1.3rem;">
                                                                            <span class="font-weight-bolder text-dark">Productos</span>
                                                                        </h3>
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control form-control-solid" placeholder="Buscar producto" name="filtro_variedad" [(ngModel)]="filtro_variedad">
                                                                            <div class="input-group-append">
                                                                                <button class="btn btn-primary" type="button" (click)="filtrar_variedades()">Buscar</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-body" style="max-height: 500px;
                                                            overflow: auto;min-height: 500px;">

                                                            <div class="products-" style="min-height: 350px !important;
                                                            overflow: hidden;
                                                            max-height: 300px !important;
                                                            overflow-y: auto;">
                                                                <table class="table" style="width: 100%;">
                                                                    <tbody *ngIf="!load_variedades">
                                                                        <!--begin::Cart Content-->
                                                                        <ng-container *ngFor="let item of variedades; let indice = index">
                                                                            <tr class="fila-variedad" id="variedad-{{indice}}">
                                                                                <td class="d-flex align-items-center font-weight-bolder">
                                                                                    <!--begin::Symbol-->
                                                                                    <!--
                                                                                        <div class="symbol symbol-60 flex-shrink-0 mr-4 bg-light">
                                                                                        <div class="symbol-label" style="background-image: url('{{url}}get_image_productos/{{item.producto.portada}}')"></div>
                                                                                    </div>
                                                                                    -->                                                                                    
                                                                                    <!--end::Symbol-->
                                                                                    <a class="text-dark text-hover-primary">
                                                                                        {{item.producto.titulo}} <br>
                                                                                        {{item.titulo}}
                                                                                    </a>
                                                                                </td>
                                                                                <td class="text-center align-middle">
                                                                                    <a (click)="disminuir_cantidad(indice)" *ngIf="item.cantidad_detalle >=1" href="javascript:;" class="btn btn-xs btn-light-success btn-icon mr-2">
                                                                                        <i class="ki ki-minus icon-xs"></i>
                                                                                    </a>
                                                                                    <button disabled *ngIf="item.cantidad_detalle ==0" href="javascript:;" class="btn btn-xs btn-light-success btn-icon mr-2" style="cursor: not-allowed;">
                                                                                        <i class="ki ki-minus icon-xs"></i>
                                                                                    </button>                                                                       
                                                                                    <span class="mr-2 font-weight-bolder">{{item.cantidad_detalle}}</span>
                                                                                    <a (click)="aumentar_cantidad(indice)" class="btn btn-xs btn-light-success btn-icon">
                                                                                        <i class="ki ki-plus icon-xs"></i>
                                                                                    </a>
                                                                                </td>
                                                                                <td class="text-right align-middle font-weight-bolder">{{item.precio|currency:'Q'}}</td>
                                                                                <td class="text-right align-middle">                                                                            
                                                                                    <a style="cursor: pointer;" class="btn btn-info btn-sm font-weight-bolder font-size-sm" (click)="seleccionar_variedad(item,indice)">
                                                                                        <i class="flaticon2-add-1" style="font-size: 1rem; padding-right: 0px;"></i>
                                                                                    </a>                                                                               
                                                                                </td>
                                                                            </tr>
                                                                        </ng-container>                                                            
                                                                                                                                
                                                                    </tbody>
                                                                    <tbody *ngIf="load_variedades">
                                                                        <tr>
                                                                            <td>
                                                                                <div class="row">
                                                                                    <div class="col-12 text-center">
                                                                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                                                            <span class="sr-only">Cargando...</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                                
                                                            </div>                                                            
                                                            <div>
                                                                <table class="table">
                                                                    <tfoot>
                                                                        <tr> 
                                                                            <td colspan="4" class="border-0 text-right pt-10">
                                                                                <a style="cursor: pointer;" (click)="agregar_detalle()" class="btn btn-success font-weight-bolder px-8">Agregar</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>                                          
                                                
                                                </div>                                                                                                                                            
                                            </div>

                                            <div class="detail-shop" style="min-height: 200px !important;
                                                    overflow: hidden;
                                                    max-height: 300px !important;
                                                    overflow-y: auto;">
                                            <table class="table w-100"> 
                                                <thead>
                                                    <tr class="text-left text-uppercase">
                                                        <th style="min-width: 100px" class="pl-5">
                                                            <span class="text-dark-75">Descripción</span>
                                                        </th>
                                                        <th style="min-width: 100px">Cantidad</th>
                                                        <th style="min-width: 100px">Precio</th>
                                                        <th style="min-width: 100px">Descuento</th>                                                 
                                                        <th style="min-width: 80px">Total</th>
                                                    </tr>
                                                </thead>                                               
                                                <tbody *ngFor="let item of detalles_compras; let indice = index">
                                                    <tr class="font-weight-boldest">
                                                        <td class="border-0 pl-0 pt-7 d-flex align-items-center" (click)="startEditing($event, 'descripcion', indice)">
                                                            <!--begin:
                                                            <div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
                                                                <div class="symbol-label" style="background-image: url('{{url}}get_image_productos/{{item.portada}}')"></div>
                                                            </div>
                                                                :Symbol-->
                                                            
                                                            <!--end::Symbol-->
                                                            <div *ngIf="!isEditing('descripcion', indice)">
                                                                {{item.titulo}}
                                                                <br>
                                                                {{item.titulo_v}}
                                                            </div>
                                                            <input class="form-control" *ngIf="isEditing('descripcion', indice)" type="text" [(ngModel)]="item.titulo_v" (blur)="stopEditing('descripcion', indice)">
                                                        </td>
                                                        <td class="text-center pt-7 align-middle" (click)="startEditing($event, 'cantidad', indice)">
                                                            <div *ngIf="!isEditing('cantidad', indice)">
                                                            {{item.cantidad}}
                                                            </div>
                                                            <input class="form-control" type="number" *ngIf="isEditing('cantidad', indice)" [(ngModel)]="item.cantidad" (blur)="stopEditing('cantidad', indice)">
                                                        </td>

                                                        <td class="text-center pt-7 align-middle" (click)="startEditing($event, 'precio', indice)"> 
                                                            <div *ngIf="!isEditing('precio', indice)">
                                                                {{item.precio|currency:'Q'}}
                                                                </div>
                                                            <input type="number" class="form-control" *ngIf="isEditing('precio', indice)" [(ngModel)]="item.precio" (blur)="stopEditing('precio', indice)">
                                                        </td>
                                                        <td class="text-center pt-7 align-middle" (click)="startEditing($event, 'descuento', indice)">                                                                        
                                                            <div *ngIf="!isEditing('descuento', indice)">
                                                                {{item.descuento || 0 |currency:'Q'}}
                                                            </div>
                                                            <input type="number" class="form-control" *ngIf="isEditing('descuento', indice)" [(ngModel)]="item.descuento" (blur)="stopEditing('descuento', indice)">
                                                        </td>                                                                        
                                                        <!--{{item.precio|currency:'Q'}}-->
                                                        <td class="text-primary pr-0 pt-7 text-right align-middle">
                                                            {{ (item.descuento ? item.precio * item.cantidad - item.descuento : item.precio * item.cantidad) | currency:'Q' }}                                                    
                                                        </td>                                                                    
                                                        <td style="padding-top: 2.3rem;">
                                                            <i style="cursor: pointer;" class="flaticon2-trash text-danger" (click)="eliminar_detalle(indice,item.cantidad*item.precio,item.descuento)"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table> 
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col">
                                                    <div class="card card-custom card-stretch gutter-b" style="background: #f3f6f9;">
                                                        <!--begin::Body-->
                                                        <div class="card-body">
                                                            <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block">{{total|currency:'Q'}}</span>
                                                            <span class="font-weight-bold text-muted font-size-sm">Total</span>
                                                        </div>
                                                        <!--end::Body-->
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card card-custom card-stretch gutter-b" style="background: #f3f6f9;">
                                                        <!--begin::Body-->
                                                        <div class="card-body">
                                                            <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block">{{descuentototal|currency:'Q'}}</span>
                                                            <span class="font-weight-bold text-muted font-size-sm">Descuento</span>
                                                        </div>
                                                        <!--end::Body-->
                                                    </div>
                                                </div>

                                                <div class="card-footer d-flex justify-end">
                                                    <button type="button" [routerLink]="['/compras']" class="btn btn-danger mr-3" data-dismiss="modal">Cancelar</button>
                                                    <button *ngIf="!btn_load" type="button" class="btn btn-primary" (click)="registrar_compra()">Registrar</button>
                                                    <button *ngIf="btn_load" class="btn btn-primary" type="button" disabled>
                                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                        Registrando...
                                                    </button>
                                                </div> 
                                                
                                            </div>
                                       
                                    </div>
                                </div>
                            </div>            
                            
                        </div>
                        
                        
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->
            
        </div>
    </div>
</div>
</div>

